.container{
display: flex;
 width: 100%;
 height: 100%;
 justify-content: center;
 background: linear-gradient(180deg, #C6D2D3 0%, #93DDB0 48.75%, #A1CCD6 100%);

 
}
.botaoVoltar{
    width: 5%;
    height: 10%;
    display: flex;
    margin-top: 1rem;
}
.botaoVoltar_click{
    background: #FEF7F7;
    border-radius: 6px;
    border: solid;
    padding: 1rem;
    cursor: pointer;
    color: #000;
    font-size: 10px;
    font-weight: bold;
    margin-right: 2rem;
    margin-top: 0;
}

.botaoVoltar_click :hover{
    transform: scale(1.1);
    -webkit-filter: drop-shadow(15px 10px 5px var(--pretoSombra));
    filter: drop-shadow(15px 10px 5px var(--pretoSombra));

}
.box{
    box-sizing: border-box;
    position: relative;
    width: 37.125rem;
    height: 52.625rem;
    background: linear-gradient(180deg, #FEF7F7 0%, rgba(188, 187, 187, 0) 100%);
    border: 2px solid #000000;
    border-radius: 15px;
 
}
.BotaoDonwload{
    display: flex;
    justify-content: end;
    margin-top: 1rem;
    
}
.BotaoDonwload_click{
    background: #FEF7F7;
    border-radius: 6px;
    border: solid;
    padding: 1rem;
    cursor: pointer;
    color: #000;
    font-size: 10px;
    font-weight: bold;
    margin-right: 2rem;
    margin-top: 0;
}
.BotaoDonwload_click:hover{
    transform: scale(1.1);
    -webkit-filter: drop-shadow(15px 10px 5px var(--pretoSombra));
    filter: drop-shadow(15px 10px 5px var(--pretoSombra));

}

.boxPerfil{
    position: absolute;
    width: 11rem;
    height: 52.4rem;
    left: 0px;
    top: 0rem;
    border-radius: 15px;
    background: #C6D2D3;
   
}
.boxPerfil__Container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 13px;
    position: absolute;
    width: 180px;
    left: 0px;
    top: 0px;
    bottom: 0px;
}
.imgHeader{
    width: 8rem;
    height: 7rem;
    border-radius: 50%;
}
.tituloNome{
    font-size: 0.90rem;
    font-family: 'Courier New', Courier, monospace;
   
}
.textoResumo{
    width: 137px;
    height: 240px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 12px;
    letter-spacing: -0.02em;
    color: #000000;
}

.linha-horizontal {
    position: absolute;
    width: 8rem;
    border: 0.80px solid #000;
    margin-top: 24rem;
}
.boxConteudo{
    position: absolute;
    width: 414px;
    height: 825px;
    left: 176px;
    top: 8px;
    
}