.Box1 {
    background-color: rgb(255, 255, 255);
    padding: 70px;
    width: 70%;
    height: 70%;
    position: absolute;
    box-shadow: 5px 6px 15px 9px rgba(0, 0, 0, 0.7);
    border-radius: 10px;


}

.content {
    width: 100vw;
    height: 960px;
    background-image: linear-gradient(to right, #1F3040 50%, #FF9442 50%);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TituloPrincipal {
    display: flex;
    flex-wrap: nowrap;
    font-family: sans-serif;
    width: 100%;
    text-align: center;
    margin-top: 8%;

}

.cabecalhoPrincipal-nav {
    font-weight: bold;
    font-size: 1em;
    text-align: right;

}

.cabecalhoPrincipal-nav-link {
    text-decoration: none;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    font-size: 1em;
    margin-left: 10px;
    transition: all 0.5s;
    cursor: pointer;

}

a:hover {
    font-size: 120%;
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
   
}

body {

    margin: 0;
}

.IconeFoto {
    width: 40px;
}


.TituloPrincipal-texto {
    width: 60%;
    text-align: left;
    padding-right: 2rem;
}

.Foto-perfil {
    width: 40%;

}

.Foto-perfil img {
    width: 100%;
    max-height: 450px;
    object-fit: cover;
    object-position: 100% 37%;
    border-bottom-left-radius: 8rem;
    border: solid;
    box-shadow: 5px 6px 15px 9px rgba(0, 0, 0, 0.7);

}

.ButtonCV  button{
    background: rgb(255, 255, 255);
    border-radius: 6px;
    border: solid;
    padding: 15px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: bold;
    margin-right: 2rem;

}
.ButtonProjetos button{
    background: #101010;
    border-radius: 6px;
    padding: 15px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.ButtonCV, .ButtonProjetos {
    display: inline-block;


}

