.box .conteudoSkills{
    display: flex;
    padding: 70px;
    width: 100%;
    height: 100%;
}
.Titulo-skills{
    display: flex;
    width: 80%;
    font-family: sans-serif;
    /*text-decoration: underline;*/
    position: absolute;
    justify-content: center;
    margin-top: 2%;
}

.conteudoSkills-icones-font{
    position: relative;
    margin: 40px;
    
}

.imgSkills{
    display: inline-block;
    margin-top: 10%;
    width: 110px;
    height: 100px;
    padding-right: 2rem;
    
}

img:hover {
    transform: scale(1.1);
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
   
}

.conteudoSkills-icones-salesforce{
    position: absolute;
    margin: 30px;
}
.botao-trailhead{
    display: flex;
    justify-content: center;
    margin-top: 28%;
}
.botao-trailhead-veja{
    background: rgb(255, 255, 255);
    border-radius: 6px;
    border: solid;
    padding: 15px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: bold;
    margin-right: 2rem;
}
.botao-trailhead-veja:hover{
    transform: scale(1.1);
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));

}