.box .conteudoSkills{
    display: flex;
    padding: 1.50rem;
    width: 100%;
    height: 100%;
}
.Titulo-skills{
    display: flex;
    width: 80%;
    font-family: sans-serif;
    /*text-decoration: underline;*/
    position: absolute;
    justify-content: center;
    margin-top: 2%;
}

.conteudoSkills-icones-font{
    position: relative;
    margin: 1.50rem;
    
}

.imgSkills{
    display: inline-block;
    margin-top: 10%;
    width: 6rem;
    height: 6rem;
    padding-right: 2rem;
    
}

img:hover {
    transform: scale(1.1);
    -webkit-filter: drop-shadow(15px 10px 5px var(--pretoSombra));
    filter: drop-shadow(15px 10px 5px var(--pretoSombra));
   
}

.conteudoSkills-icones-salesforce{
    position: absolute;
    margin: 1rem;
}
.botao-trailhead{
    display: flex;
    justify-content: center;
    margin-top: 15rem;
}
.botao-trailhead-veja{
    background: var(--branco);
    border-radius: 6px;
    border: solid;
    padding: 1rem;
    cursor: pointer;
    color: var(--preto);
    font-size: 16px;
    font-weight: bold;
    margin-right: 2rem;
    margin-top: 2.5rem;
}
.botao-trailhead-veja:hover{
    transform: scale(1.1);
    -webkit-filter: drop-shadow(15px 10px 5px var(--pretoSombra));
    filter: drop-shadow(15px 10px 5px var(--pretoSombra));

}
@media screen and (max-width: 768px){
    .Box1{
    
        height: 80%;
    }
    .cabecalhoPrincipal-nav{
        width: 18rem;
       
    }
    .cabecalhoPrincipal-nav-link{
        text-align: center;
        
    }
    .Titulo-skills{
        font-size: 1.15rem;
        position: relative;
        margin-top: 2rem;
        
    }
    .imgSkills{
        width: 2.15rem;
        height: 2.5rem;
        
    }

    .botao-trailhead{
        position: relative;
        margin-top: 12rem;
    }
}